Source: ros-kinetic-py-script
Section: misc
Priority: optional
Maintainer: soohyeok <soohyeok@todo.todo>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-kinetic-catkin, ros-kinetic-geometric-shapes, ros-kinetic-geometry-msgs, ros-kinetic-interactive-markers, ros-kinetic-moveit-core, ros-kinetic-moveit-resources, ros-kinetic-moveit-ros-perception, ros-kinetic-moveit-ros-planning, ros-kinetic-moveit-ros-planning-interface, ros-kinetic-moveit-visual-tools, ros-kinetic-pcl-conversions, ros-kinetic-pcl-ros, ros-kinetic-pluginlib, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-rosunit, ros-kinetic-rviz-visual-tools, ros-kinetic-std-msgs, ros-kinetic-tf2-eigen, ros-kinetic-tf2-geometry-msgs, ros-kinetic-tf2-ros
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-py-script
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-interactive-markers, ros-kinetic-joy, ros-kinetic-moveit-commander, ros-kinetic-moveit-core, ros-kinetic-moveit-fake-controller-manager, ros-kinetic-moveit-ros-perception, ros-kinetic-moveit-ros-planning-interface, ros-kinetic-moveit-visual-tools, ros-kinetic-panda-moveit-config, ros-kinetic-pcl-conversions, ros-kinetic-pcl-ros, ros-kinetic-pluginlib, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-rviz-visual-tools, ros-kinetic-std-msgs, ros-kinetic-tf2-eigen, ros-kinetic-tf2-geometry-msgs, ros-kinetic-tf2-ros
Description: The py_script package
